
body {

    font-family: "Bitter", arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f49f0a;
    color: #ffffff

}

/* Header */

header {
	
	background-color: #ff49;

}

.heading {

    display: flex;

}

header .column {

    display: flex;
    flex-direction: column;

}

#logo {

    width: 90%;

}

header h1, header h2 {

    display: flex;

}

header h2 {
    color: #ffffff;
    margin-top: 0;
}

header h1 {

    font-size: 3em;
    font-family: "Libre Baskerville", helvetica, Tahoma;
    color: #fa8f04;
    margin-bottom: 0px;
    text-shadow: 3px 3px 5px #777;
    
}

/* Navigation */

nav {

    background-color: #b4b8ab;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.mainmenu {

    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
   
}

.mainmenu li:first-child {

    display: block;

}

.mainmenu li {

    display: none;

}

.mainmenu a {

    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;

}

.mainmenu a:visited {
    color: #ffffff;
}
.mainmenu a:hover {
    color: #fa8f04;
    background-color: #777; 
}

.responsive li {
    display: block;
}

.current {

    color: #ff49;

}

/* Main */

main {

    background-color: #f7b35b;
    padding-top: 20px;
    padding-bottom: 20px;

}

section {

    padding: 10px;
    margin: 10px;

}

.firstsection h2, article h2 {

    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #777;
    margin-top: 0;
    margin-bottom: 1rem;
    
}

.herodiv {

    margin: auto;
    position: relative;

}

main picture img {

    width: 100%;

}

/* Weather Summary */

.weathersummary{

    position: absolute;
    top: 5%;
    right: 10%;
    border: 1px solid black;
    padding: 0.5rem;
    box-shadow: 0 0 30px #ffffff;
    line-height: 2px;
    font-weight: bold;
    background-color: rgba(124, 115, 124, 0.5);

}

.weathersummary h3{

    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 0.75rem;
    text-align: center;

}

.weathersummary p{

    font-size: 0.75rem;
    text-align: left;

}

.forecast {

    display: none;

}

/* Article Section */

article img {

    width: 95%;
    box-shadow: 0 0 30px #ffffff;
    margin-left: 20px;
    
}

article {

    background-color: #b4b8ab;
    border: 2px solid #4f514b;
    padding: 20px;
    overflow: auto;

}

article h2 {

    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 5px;

}

article h3 {

    margin-top: 5px;
    color: #4f514b;
    padding-left: 40px;

}

article p {

    color: #4f514b;

}

/* Contact Section */

.contactinfo {

    background-color: #ff49;
    line-height: 2px;
    overflow: auto;

}

.contactinfo h2 {

    color: #000000;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;

}

.contactinfo h2, .contactinfo p, .socialmedia {

    padding-left: 80px;

}

.socialmedia img {

    width: 30px;
    padding-bottom: 5px;

}
.contact {

    padding-top: 10px;

}

#map {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 40%;

}

/* Footer */

footer {

    background-color: #4f514b;
    text-align: center;
    font-size: 0.75rem;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 5px;

}

/* Gallery */

.gallerywrapper {

    display: grid;
    grid-template-columns: 1fr;

}

figure img {

    width: 100%;

}

.box {

    padding: 2px;
    box-shadow: 0 0 10px #777777;

}

.gallerytitle {

    font-family: "Libre Baskerville", helvetica, Tahoma;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
    text-shadow: 3px 3px 5px #777;

}

/* Storm Center */
 
main h2 {

    font-family: "Libre Baskerville", helvetica, Tahoma;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
    text-shadow: 3px 3px 5px #777;
    margin-bottom: 10px;

}

main p {

    padding-left: 40px;
    font-size: 1rem;
    margin-top: 0;

}

form {

    padding: 40px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2rem;
    border-radius: 2%;
    border: 2px solid #777777;
    background-color: rgba(255, 255, 168, 0.6);

}

form label {

    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold; 
    color: #000000;

}

.boxform{

    width: 50%;

}

.comments {

    overflow: scroll;
    width: 80%;

}

/* Thank You Page */

.thanks h2 {

    font-family: "Libre Bakesville", helvetica, Tahoma;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
    text-align: center;

}

.thanks p {

    padding-left: 40px;
    font-size: 1rem;
    text-align: center;

}