
body {

    font-family: Bitter, arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f49f0a;
    color: #ffffff
}

/* Header */

header {
	
	background-color: #ff49;
    text-align: center;

}

header img, .headings {

	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    padding-top: 10px;

    
}

#logo {

    display: inline-flex;
    width: 16%;


}

.headings .motto {

    color: #ffffff;
    font-size: 1em;
    text-shadow: 3px 3px 5px #777;


}

.current {

    color: #ff49;

}


.headings {

    line-height: 0.75rem;
    display: flex;
    flex-direction: column;

}

.headings h1 {

    font-size: 2em;
    font-family: "Libre Baskerville", helvetica, Tahoma;
    color: #fa8f04;
    margin-bottom: 0px;
    text-shadow: 3px 3px 5px #777;

    
}

/* Navigation */

nav {

    background-color: #b4b8ab;
    font-size: 1.5rem;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.mainmenu {

    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
   
}

.mainmenu li:first-child {

    display: block;

}

.mainmenu li {

    display: none;

}

.mainmenu a {

    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;

}

.mainmenu .current {
    color: #777;
}

.mainmenu a:hover {
    color: #fa8f04;
    background-color: #777; 
}

.responsive li {
    display: block;
}

/* Main */

section {

    padding: 10px;
    margin: 10px;

}
.firstsection h2, article h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #777;
    
}

.herodiv {

    margin: auto;
    position: relative;

}

main picture img {

    width: 100%;

}

/* Weather Summary */

.weathersummary{

    position: absolute;
    top: 50px;
    right: 75px;
    border: 1px solid black;
    padding: 1.5rem;
    box-shadow: 0 0 30px #ffffff;
    line-height: 2px;
    width: 20%;

}

.weathersummary h3{

    text-decoration: underline;
    padding-bottom: 10px;
    font-size: 0.25rem;

}

.weathersummary p{
    font-size: 0.25rem;
}

.forecast {
    display: none;
}

/* Article Section */

article img{

    width: 95%;
    box-shadow: 0 0 30px #ffffff;
    
}

article {

    background-color: #b4b8ab;
    border: 2px solid #4f514b;
    padding: 20px;
    overflow: auto;

}

article h2 {

    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0;
}
article h3{

    margin-top: 0px;
    color: #4f514b

}

article p {
    color: #4f514b;
}

/* Contact Section */

.contactinfo{
    background-color: #ff49;
    line-height: 2px;
    font-size: 1.25rem;
    overflow: auto;

}

.contactinfo h2{
    color: #000000;
    font-weight: bold;

}

.socialmedia img{

    width: 30px;
    padding-bottom: 5px;

}
.contact {

    padding-top: 10px;

}
#map {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width: 40%;

}

/* Footer */

footer {

    background-color: #4f514b;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    padding-bottom: 30px;
    line-height: 5px;

}

/* Gallery */

.gallerywrapper {
    display: grid;
    grid-template-columns: 1fr;
}

figure img {
    width: 100%;
}

.box {
    padding: 2px;
    box-shadow: 0 0 10px #777777;
}

.gallerytitle {
    font-family: "Libre Baskerville", helvetica, Tahoma;
    font-size: 3rem;
    color: #ffffff;
    padding-left: 40px;
}

/* Storm Center */
 
main h2 {
    font-family: "Libre Baskerville", helvetica, Tahoma;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
}

main p {
    padding-left: 40px;
    font-size: 1rem;
}

form {
    padding: 40px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 2rem;
    border-radius: 2%;
    border: 2px solid #777777;
    background-color: rgba(255, 255, 168, 0.6);
}

form label {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold; 
    color: #000000;
}

.boxform{
    width: 50%;
}

/* Thank You Page */

.thanks h2 {
    font-family: "Libre Bakesville", helvetica, Tahoma;
    font-size: 2rem;
    color: #ffffff;
    padding-left: 40px;
    text-align: center;
}

.thanks p {
    padding-left: 40px;
    font-size: 2rem;
    text-align: center;
}